Repository juju/juju, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manadart, @SimonRichardson, @hmlanigan, @tlm, @jack-w-shaw

WIP
  domain/application/service/application.go
  domain/application/state/application.go
  domain/application/state/application_test.go
  domain/application/state/types.go
  domain/application/types.go
  domain/schema/model/sql/0020-network.sql
  domain/unit/errors/errors.go
Owners: none

feat: remove fan config facade
  api/agent/fanconfigurer/facade.go
  apiserver/allfacades.go
  apiserver/facades/agent/fanconfigurer/fanconfigurer.go
  apiserver/facades/agent/fanconfigurer/fanconfigurer_test.go
  apiserver/facades/agent/fanconfigurer/package_test.go
  apiserver/facades/agent/fanconfigurer/register.go
  core/network/fan.go
  core/network/fan_test.go
  environs/config/config.go
  environs/config/schema.go
  environs/config/validator_test.go
  internal/migration/precheck.go
  rpc/params/network.go
Owners: none

chore: rebuild the schema
  apiserver/facades/schema.json
Owners: none

chore: more everything except deployerAPI creation to SetUpTest
  apiserver/facades/agent/deployer/deployer_test.go
Owners: none

feat: prevent agent bouncing
  api/agent/fanconfigurer/facade.go
  worker/fanconfigurer/fanconfigurer.go
  worker/fanconfigurer/fanconfigurer_test.go
  worker/fanconfigurer/package_mock_test.go
  worker/fanconfigurer/package_test.go
Owners: none

fix: remove fanconfigurer api version
  api/facadeversions.go
Owners: none

chore: delete model summaries from state
  apiserver/common/modelmanagerinterface.go
  apiserver/facades/client/modelmanager/listmodelsummaries_test.go
  apiserver/facades/client/modelmanager/modelinfo_test.go
  state/modelsummaries.go
  state/modelsummaries_test.go
  state/modeluser.go
  state/modeluser_test.go
Owners: none

chore: delete ModelBasicInfoForUser from state
  state/modeluser.go
  state/modeluser_test.go
Owners: none

feat: export charm actions, config and lxd profile
  go.mod
  go.sum
  state/migration_export.go
  state/migration_export_test.go
  state/mocks/description_mock.go
Owners: none

feat(application): add unitid and resourceid
  core/migration/package_test.go
  core/resources/id.go
  core/resources/id_test.go
  core/resources/resource.go
  core/resources/testing/resource.go
  core/unit/id.go
  core/unit/id_test.go
  core/unit/package_test.go
  core/unit/testing/testing.go
  core/watcher/eventsource/package_test.go
  core/watcher/package_test.go
  domain/application/state/application.go
Owners: @manadart, @SimonRichardson

feat(application): add resource service
  domain/application/doc.go
  domain/application/errors/errors.go
  domain/application/resource/doc.go
  domain/application/resource/types.go
  domain/application/service/package_mock_test.go
  domain/application/service/package_test.go
  domain/application/service/resource.go
  domain/application/service/resource_test.go
Owners: none

fix(test): intermittent failure in testlistallmodelsummaries
  domain/model/service/service_test.go
Owners: @tlm

exception if TOPIC_IDS not defined
  scripts/discourse-sync/main.py
Owners: none

address Tom's review comments
  apiserver/facades/client/spaces/spaces.go
  apiserver/facades/client/spaces/spaces_internal_test.go
  apiserver/facades/client/spaces/spaces_test.go
  domain/network/service/interface.go
  domain/network/service/space.go
  domain/network/state/space.go
  domain/network/state/space_test.go
Owners: none

add copyright header to md-gen/hook-tools script
  scripts/md-gen/hook-tools/main.go
Owners: none

fix spaces tests
  apiserver/facades/client/spaces/spaces_test.go
Owners: none

remove unused code from client facade
  apiserver/facades/client/client/backend.go
  apiserver/facades/client/client/client.go
  apiserver/facades/client/client/client_test.go
  apiserver/facades/client/client/export_test.go
  apiserver/facades/client/client/service.go
  apiserver/facades/client/client/status_test.go
  apiserver/facades/client/client/statushistory_test.go
Owners: none

Add client facade v8
  apiserver/facades/client/client/backend.go
  apiserver/facades/client/client/client.go
  apiserver/facades/client/client/register.go
Owners: none

regen schema
  api/facadeversions.go
  apiserver/facades/client/client/status.go
  apiserver/facades/schema.json
Owners: none

fix tests
  apiserver/facades/client/client/client.go
  apiserver/facades/client/client/client_test.go
  apiserver/facades/client/client/export_test.go
  apiserver/facades/client/client/register.go
  apiserver/facades/client/client/statushistory_test.go
Owners: none

chore: fix up merge from 3.6 to 4.0
  api/api_mock_test.go
  api/apiclient.go
  api/apiclient_test.go
  api/legacyloginprovider_test.go
  internal/provider/azure/environ.go
Owners: none

rebuild schema
  apiserver/facades/schema.json
Owners: none

refactor: remove EnvironConfigGetter in apiserver registration
  apiserver/registration.go
  apiserver/registration_test.go
Owners: none

reorder things to reduce diff
  apiserver/facades/client/client/client.go
Owners: none

add doc.go
  apiserver/facades/client/client/doc.go
Owners: none

feat: snapcraft base of core24 with musl from universe
  snap/plugins/juju_go.py
  snap/snapcraft.yaml
  tests/suites/static_analysis/versions.sh
Owners: none

add model id to error
  apiserver/facades/client/controller/controller.go
Owners: none

fix: use -mlong-double-64 for ppc64el
  snap/snapcraft.yaml
Owners: none

address some review comments
  apiserver/facades/client/controller/controller.go
  apiserver/facades/client/controller/service.go
  core/model/model.go
  domain/model/service/service.go
  domain/model/service/service_test.go
  domain/model/service/state_test.go
  domain/model/state/state.go
  domain/model/state/state_test.go
Owners: @tlm

don't embed fields in HostedModel or ModelWithLogin
  core/model/model.go
Owners: @tlm

facade is now at v8
  api/state_test.go
Owners: none

chore: tweaks from code review
  apiserver/authentication/jwt/doc.go
Owners: none

feat: add --resource arg to juju download
  cmd/juju/charmhub/download.go
  cmd/juju/charmhub/download_test.go
Owners: none

chore: tweaks from code review
  provider/azure/doc.go
Owners: none

test: add resource download test and charm
  cmd/juju/charmhub/download.go
  cmd/juju/charmhub/download_test.go
  testcharms/charm-hub/charms/juju-qa-test-resources/charmcraft.yaml
  testcharms/charm-hub/charms/juju-qa-test-resources/requirements.txt
  testcharms/charm-hub/charms/juju-qa-test-resources/resource/Makefile
  testcharms/charm-hub/charms/juju-qa-test-resources/resource/main.go
  testcharms/charm-hub/charms/juju-qa-test-resources/src/charm.py
  tests/suites/charmhub/download.sh
  tests/suites/charmhub/find.sh
  tests/suites/charmhub/info.sh
  tests/suites/charmhub/task.sh
Owners: none

fix: use ed25519 ssh keys when juju sshing
  go.mod
  go.sum
Owners: none

test: use abstract domain socket for dqlite suite
  internal/database/testing/dqlitesuite.go
  internal/worker/dbaccessor/worker_integration_test.go
Owners: none

feat: add secret_backend_reference table for tracking secret backend ref count;
  domain/schema/controller/sql/0018-secret-backend.sql
  domain/schema/schema_test.go
Owners: none

feat: check secret backend ref count when we removes a secret backend;
  domain/secretbackend/service/service.go
  domain/secretbackend/state/state.go
  domain/secretbackend/state/state_test.go
  domain/secretbackend/state/types.go
Owners: none

chore: rebuild schema
  apiserver/facades/schema.json
  cmd/juju/application/config.go
Owners: none

.github/CODEOWNERS:

# Core database packages
/core/changestream/**           @manadart @SimonRichardson
/core/database/**               @manadart @SimonRichardson
/core/watcher/**                @manadart @SimonRichardson
/database/**                    @manadart @SimonRichardson
/worker/dbaccessor/**           @manadart @SimonRichardson
/worker/changestream/**         @manadart @SimonRichardson
/worker/changestreampruner/**   @manadart @SimonRichardson

# Lease management packages
/worker/lease/**                @manadart
/worker/leaseexpiry/**          @manadart

# Charmhub
/charmhub/**                    @hmlanigan @SimonRichardson

# Model domain packages
/core/model/**                  @tlm
/domain/model/**                @tlm
/domain/modelconfig/**          @tlm

# Macaroons
/internal/macaroon/**           @jack-w-shaw
/domain/macaroon/**             @jack-w-shaw
