Repository juju/juju, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manadart, @SimonRichardson, @hmlanigan, @tlm, @jack-w-shaw

chore: remove charm migration path
  apiserver/apiserver.go
Owners: none

chore: remove charm post request
  apiserver/apiserver.go
  apiserver/charms.go
  apiserver/charms_test.go
  apiserver/common/charms.go
  apiserver/objects_test.go
Owners: none

chore: rename bundle to archive
  apiserver/charms.go
Owners: none

feat(port): add domain methods for app ports
  domain/port/service/package_mock_test.go
  domain/port/service/service.go
  domain/port/service/service_test.go
  domain/port/state/state.go
  domain/port/state/state_test.go
  domain/port/state/types.go
Owners: none

chore: increment juju to 3.3.8
  scripts/win-installer/setup.iss
  snap/snapcraft.yaml
  version/version.go
Owners: none

test: fix panic in MongoSuite.TestEnsureServerInstalledLocalSnap
  mongo/mongo_test.go
Owners: none

feat(cmd-action): enforce that `juju run` uses units of a single application
  cmd/juju/action/common.go
  cmd/juju/action/run.go
  cmd/juju/action/run_test.go
Owners: none

refactor: replace MongoModelWatcher in uniter facade
  apiserver/facades/agent/uniter/register.go
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
Owners: none

ci: increase build runners size to xxlarge
  .github/workflows/build.yml
Owners: none

chore: increment juju to 3.4.7
  scripts/win-installer/setup.iss
  snap/snapcraft.yaml
  version/version.go
Owners: none

ci: increase checks runners size to quad-xlarge
  .github/workflows/static-analysis.yml
Owners: none

chore: upgrade go.mod version to 1.23
  go.mod
Owners: none

chore: missing changes moving to go 1.23
  .github/api-client-allowed-list.txt
  CONTRIBUTING.md
  snap/snapcraft.yaml
Owners: none

ci: fix linting for go 1.23
  .github/golangci-lint.config.yaml
  .github/workflows/static-analysis.yml
  tests/README.md
  tests/suites/static_analysis/lint_go.sh
Owners: none

docs: improve help command help text and examples
  worker/uniter/runner/jujuc/action-fail.go
  worker/uniter/runner/jujuc/action-get.go
  worker/uniter/runner/jujuc/action-set.go
  worker/uniter/runner/jujuc/add-metric.go
  worker/uniter/runner/jujuc/application-version-set.go
  worker/uniter/runner/jujuc/config-get.go
  worker/uniter/runner/jujuc/goal-state.go
  worker/uniter/runner/jujuc/is-leader.go
  worker/uniter/runner/jujuc/juju-log.go
  worker/uniter/runner/jujuc/k8s-spec-set.go
  worker/uniter/runner/jujuc/leader-get.go
  worker/uniter/runner/jujuc/leader-set.go
  worker/uniter/runner/jujuc/network-get.go
  worker/uniter/runner/jujuc/opened-ports.go
  worker/uniter/runner/jujuc/payload-register.go
  worker/uniter/runner/jujuc/payload-status-set.go
  worker/uniter/runner/jujuc/payload-unregister.go
  worker/uniter/runner/jujuc/ports.go
  worker/uniter/runner/jujuc/reboot.go
  worker/uniter/runner/jujuc/relation-get.go
  worker/uniter/runner/jujuc/relation-ids.go
  worker/uniter/runner/jujuc/relation-list.go
  worker/uniter/runner/jujuc/relation-set.go
  worker/uniter/runner/jujuc/resource-get.go
  worker/uniter/runner/jujuc/secret-add.go
  worker/uniter/runner/jujuc/secret-get.go
  worker/uniter/runner/jujuc/secret-grant.go
  worker/uniter/runner/jujuc/secret-ids.go
  worker/uniter/runner/jujuc/secret-info-get.go
  worker/uniter/runner/jujuc/secret-remove.go
  worker/uniter/runner/jujuc/secret-revoke.go
  worker/uniter/runner/jujuc/secret-set.go
  worker/uniter/runner/jujuc/status-get.go
  worker/uniter/runner/jujuc/status-set.go
  worker/uniter/runner/jujuc/storage-add.go
  worker/uniter/runner/jujuc/storage-add_test.go
  worker/uniter/runner/jujuc/storage-get.go
  worker/uniter/runner/jujuc/storage-list.go
  worker/uniter/runner/jujuc/unit-get.go
Owners: none

ci: fix regenerating mocks
  .github/workflows/gen.yml
Owners: none

chore(jujud): fix jujud-controller
  cmd/jujud-controller/agent/machine.go
  cmd/jujud-controller/agent/util_test.go
  cmd/jujud-controller/main.go
Owners: none

chore(port): refactor GetApplicationOpenedPorts
  domain/port/service/package_mock_test.go
  domain/port/service/service.go
  domain/port/service/service_test.go
  domain/port/state/state.go
  domain/port/state/state_test.go
  domain/port/state/types.go
  domain/port/types.go
Owners: none

chore: remove lease introspection commands
  worker/introspection/script.go
Owners: none

feat: implement JWTAuthenticator.Authenticate for http
  apiserver/authentication/http.go
  apiserver/authentication/http_test.go
  apiserver/authentication/jwt/jwt.go
  apiserver/authentication/jwt/jwt_test.go
  apiserver/stateauthenticator/auth.go
Owners: none

chore: only one offer at a time
  apiserver/facades/client/applicationoffers/applicationoffers.go
  apiserver/facades/client/applicationoffers/applicationoffers_test.go
Owners: none

test: retry revision checking in secrets tests
  tests/includes/check.sh
  tests/includes/secrets.sh
  tests/suites/secrets_iaas/juju.sh
  tests/suites/secrets_k8s/k8s.sh
Owners: none

chore: increment juju to 3.5.5
  scripts/win-installer/setup.iss
  snap/snapcraft.yaml
  version/version.go
Owners: none

feat: remove user permission state
  agent/agentbootstrap/bootstrap_test.go
  apiserver/common/modelmanagerinterface.go
  apiserver/facades/client/client/backend.go
  apiserver/facades/client/client/package_mock_test.go
  apiserver/facades/client/modelmanager/modelinfo_test.go
  apiserver/facades/client/modelmanager/modelmanager_test.go
  cmd/jujud-controller/agent/bootstrap_test.go
  state/action.go
  state/allcollections.go
  state/applicationoffers.go
  state/controller.go
  state/controlleruser.go
  state/errors.go
  state/export_test.go
  state/initialize.go
  state/interface_test.go
  state/migration_import_tasks.go
  state/migration_import_tasks_test.go
  state/migration_internal_test.go
  state/model.go
  state/state.go
  state/state_test.go
  state/user.go
  state/useraccess.go
  state/userpermission.go
Owners: none

refactor: replace MongoModelWatcher in undertaker facade
  apiserver/facades/controller/undertaker/register.go
  apiserver/facades/controller/undertaker/service.go
  apiserver/facades/controller/undertaker/state.go
  apiserver/facades/controller/undertaker/undertaker.go
  apiserver/facades/controller/undertaker/undertaker_test.go
Owners: none

fix: model migration
  apiserver/facade/facadetest/context.go
  apiserver/facade/interface.go
  apiserver/facades/agent/keyupdater/facade_mock_test.go
  apiserver/facades/client/controller/controller.go
  apiserver/facades/client/controller/export_test.go
  apiserver/facades/client/controller/register.go
  apiserver/facades/client/modelmanager/modelmanager.go
  apiserver/facades/client/modelmanager/modelmanager_test.go
  apiserver/facades/client/modelmanager/register.go
  apiserver/facades/controller/migrationmaster/register.go
  apiserver/facades/controller/migrationtarget/migrationtarget_test.go
  apiserver/root.go
  core/modelmigration/coordinator.go
  internal/migration/migration.go
  internal/migration/migration_test.go
Owners: none

fix: ensure we have the correct imports of models
  core/modelmigration/package_test.go
  core/user/package_test.go
Owners: none

fix: change credential ID to UUID
  agent/agentbootstrap/bootstrap.go
  core/credential/credential.go
  core/credential/credential_test.go
  domain/credential/state/state.go
  domain/credential/state/state_test.go
  domain/model/service/service.go
  domain/model/state/state.go
  domain/model/state/testing/model.go
  environs/envcontext/callcontext.go
Owners: @tlm

fix: change unit id to uuid
  core/unit/id.go
  core/unit/id_test.go
  core/unit/testing/testing.go
  domain/application/resource/types.go
  domain/application/service/package_mock_test.go
  domain/application/service/resource.go
  domain/application/service/resource_test.go
  domain/application/state/application.go
Owners: none

fix: change cloudID to cloudUUID
  core/cloud/cloud.go
  core/cloud/testing/testing.go
  domain/cloud/state/state.go
  domain/cloud/state/state_test.go
Owners: none

chore: remove device backend
  state/devices.go
  state/devices_test.go
  state/export_test.go
  state/state.go
Owners: none

refactor: remove ModelWatcher from actionpruner/statushistory facades
  api/client/action/doc.go
  api/controller/actionpruner/doc.go
  api/controller/actionpruner/package_test.go
  api/controller/actionpruner/pruner.go
  api/controller/actionpruner/pruner_test.go
  api/controller/statushistory/pruner.go
  apiserver/facades/controller/actionpruner/pruner.go
  apiserver/facades/controller/actionpruner/pruner_test.go
  apiserver/facades/controller/actionpruner/register.go
  apiserver/facades/controller/statushistory/api.go
  apiserver/facades/controller/statushistory/pruner_test.go
  apiserver/facades/controller/statushistory/register.go
  apiserver/facades/schema.json
  internal/worker/actionpruner/worker.go
Owners: none

refactor: remove model name checking in FindEntity
  state/state.go
Owners: none

docs: fix dates on doc.go files
  api/client/action/doc.go
  api/controller/actionpruner/doc.go
Owners: none

fix: update to github.com/juju/retry v1.0.1
  go.mod
  go.sum
Owners: none

fix: make database retries actually back off
  database/txn/transaction.go
Owners: @manadart, @SimonRichardson

chore: return empty life for invalid db id
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/controller/caasapplicationprovisioner/provisioner.go
  apiserver/facades/controller/caasfirewaller/firewaller.go
  apiserver/facades/schema.json
  domain/life/life.go
Owners: none

docs: remove unnecessary Help tests
  worker/uniter/runner/jujuc/action-fail_test.go
  worker/uniter/runner/jujuc/action-get_test.go
  worker/uniter/runner/jujuc/action-log_test.go
  worker/uniter/runner/jujuc/action-set_test.go
  worker/uniter/runner/jujuc/add-metric_test.go
  worker/uniter/runner/jujuc/application-version-set_test.go
  worker/uniter/runner/jujuc/config-get_test.go
  worker/uniter/runner/jujuc/goal-state.go
  worker/uniter/runner/jujuc/goal-state_test.go
  worker/uniter/runner/jujuc/k8s-raw-get_test.go
  worker/uniter/runner/jujuc/k8s-raw-set_test.go
  worker/uniter/runner/jujuc/k8s-spec-get_test.go
  worker/uniter/runner/jujuc/k8s-spec-set_test.go
  worker/uniter/runner/jujuc/leader-get.go
  worker/uniter/runner/jujuc/network-get.go
  worker/uniter/runner/jujuc/network-get_test.go
  worker/uniter/runner/jujuc/opened-ports_test.go
  worker/uniter/runner/jujuc/ports_test.go
  worker/uniter/runner/jujuc/relation-get_test.go
  worker/uniter/runner/jujuc/relation-ids_test.go
  worker/uniter/runner/jujuc/relation-list_test.go
  worker/uniter/runner/jujuc/relation-set_test.go
  worker/uniter/runner/jujuc/state-delete_test.go
  worker/uniter/runner/jujuc/state-get_test.go
  worker/uniter/runner/jujuc/state-set_test.go
  worker/uniter/runner/jujuc/status-get_test.go
  worker/uniter/runner/jujuc/status-set.go
  worker/uniter/runner/jujuc/status-set_test.go
  worker/uniter/runner/jujuc/storage-get_test.go
  worker/uniter/runner/jujuc/storage-list_test.go
  worker/uniter/runner/jujuc/unit-get_test.go
Owners: none

chore: fixes from code review Includes address msb columns not null, extra test.
  core/network/cidr.go
  core/network/cidr_test.go
  core/network/ipaddress.go
  core/network/ipaddress_test.go
  domain/schema/model/sql/0009-subnet.sql
  domain/schema/model/sql/0020-network.sql
  domain/schema/model/triggers/network-triggers.gen.go
Owners: none

chore: use machine cloud instance watcher in uniter facade
  apiserver/facades/agent/uniter/newlxdprofile.go
  apiserver/facades/agent/uniter/newlxdprofile_test.go
  apiserver/facades/agent/uniter/package_mocks_test.go
  apiserver/facades/agent/uniter/package_test.go
  apiserver/facades/agent/uniter/register.go
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  internal/worker/uniter/remotestate/watcher.go
Owners: none

.github/CODEOWNERS:

# Core database packages
/core/changestream/**           @manadart @SimonRichardson
/core/database/**               @manadart @SimonRichardson
/core/watcher/**                @manadart @SimonRichardson
/database/**                    @manadart @SimonRichardson
/worker/dbaccessor/**           @manadart @SimonRichardson
/worker/changestream/**         @manadart @SimonRichardson
/worker/changestreampruner/**   @manadart @SimonRichardson

# Lease management packages
/worker/lease/**                @manadart
/worker/leaseexpiry/**          @manadart

# Charmhub
/charmhub/**                    @hmlanigan @SimonRichardson

# Model domain packages
/core/model/**                  @tlm
/domain/model/**                @tlm
/domain/modelconfig/**          @tlm

# Macaroons
/internal/macaroon/**           @jack-w-shaw
/domain/macaroon/**             @jack-w-shaw
